.header {
    background-color: #272727;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: end;
}

.header_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header_list li {
    list-style: none;
}

.header__button {
    border: none;
    color: white;
    margin: 10px;
    padding:0.5rem;
    background-color: black;
    text-transform: uppercase;
    display: flex;
    font-size: 10px;
}

.header__button span {
    margin-left: 0.5rem;
}