.main {
    min-height: 100vh;
    background-color: #383e4e;
    padding: 3rem;;
}

.main h1{
    margin: 0;
    color: white;
    text-transform: capitalize;
    padding-top: 3rem;
    margin-bottom: 1rem;
}

.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.search__container{
  display: flex;
  justify-content: center;
}
.search__container{
  display: flex;
  justify-content: center;
}


.reset__button{
  margin-left: 1.5rem;
}